/*=========Mobile Responsive Style ===========*/
@media screen and (max-width: 576px) {
        .header-content{
            background:green;
            color:#fff;
            border-radius: 10px;
            height: 90vh;
            display: flex;
           flex-wrap: wrap;
           text-align: center;
        }
        .live-btn{
            margin-left:0;
        }
        .header-text h1, 
        .header-text p{
            margin-bottom: 20px;
            margin-left:0px;
        }
        .header-text h1{
            font-size:30px;
            padding:30px 15px;
        }
        .header-text p{
            font-size:14px;
            padding:0px 15px;
        
        }

        .header-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .header-img > img{
            width:50%;
        
        }
    
  }
  /* Tablet responsive Style*/
  @media screen and (min-width: 576px) and (max-width:922px){
    .header-content{
        background:rgba(15, 192, 236, 0.774);
        color:#fff;
        border-radius: 20px;
        height: 90vh;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    /*=========world cup responsive at tablet screen=========*/
    .world-cup{
        display: flex;
        flex-direction: column;
    }
    .match-menu ul{
        display: flex;
        flex-direction: row;
        padding:0;
        margin:0;
        background:#fff;
        justify-content: space-between;
        gap:20px;
    }
    .match-menu ul li{
        list-style-type: none;
        text-align: center;
        padding:20px 30px;
        background:#fff;
        border:1px solid rgba(85, 85, 85, 0.274);
        margin:0px 0px;
        width: 100%;
        border-radius: 8px;
    }
    .match-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap:15px;
    }
  }
